@page
@model apkbackend.Pages.Projects.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.Nazwa" class="control-label"></label>
                <input asp-for="Project.Nazwa" class="form-control" />
                <span asp-validation-for="Project.Nazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Data_zgloszenia" class="control-label"></label>
                <input asp-for="Project.Data_zgloszenia" class="form-control" />
                <span asp-validation-for="Project.Data_zgloszenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.status" class="control-label"></label>
                <input asp-for="Project.status" class="form-control" />
                <span asp-validation-for="Project.status" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Project.Opiekun" class="control-label"></label>
                <input asp-for="Project.Opiekun" class="form-control" />
                <span asp-validation-for="Project.Opiekun" class="text-danger"></span>
            </div>
           
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                <a asp-page="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
       
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
